.card {
  min-height: 445px;
  max-width: 413px;
}
.card__content {
  display: flex;
  justify-content: space-between;
}
.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgba(33, 33, 33, 1);
  margin: 12px 0 0;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 354px;
}
.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: cover;
  display: block;
}
.card__like-btn {
  width: 23px;
  height: 20px;
  background: transparent url("../images/heart.svg") center no-repeat;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0.4;
  cursor: pointer;
}
.card__like-btn:hover {
  opacity: 1;
}
.card__like-btn_liked {
  background-image: url("../images/like-icon-liked.svg");
  opacity: 1;
}
.card__like-btn_liked:hover {
  background-image: url("../images/like-icon-liked-hover.svg");
}
.card__delete-btn_deleted {
  position: absolute;
  background: transparent url("../images/delete-icon.png") no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  margin: 10px 0 0 370px;
  cursor: pointer;
}
.card__delete-btn_deleted:hover{
  background-image: url("../images/Delete-hover-icon.png");
}

@media screen and (max-width: 627px) {
  .card {
    min-height: 318px;
    max-width: 288px;
    gap: 12px;
  }
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__title {
    line-height: 16px;
    max-width: 250px;
    font-size: 16px;
  }
}
