.header {
  background-color: #fff;
  border-bottom: 1px;
  display: flex;
}
.header__logo {
  width: 94px;
  height: 26px;
  margin: 10px auto;
  padding: 0;
  align-content: center;
  object-fit: cover;
}
@media screen and (max-width: 627px) {
  .header {
    width: 100%;
    justify-content: space-between;
  }
  .header__logo {
    min-width: 94px;
    height: 26px;
  }
}
