.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
}
.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  margin: 134px, 10px;
  max-width: 730px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}
.modal_opened {
  visibility: visible;
}
.modal__close-btn {
  background: transparent center no-repeat;
  background-size: 35px 35px;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}
.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}
.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  margin-bottom: 32px;
}
.modal__submit-btn {
  padding: 18px 0;
  width: 100%;
  max-width: 156px;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
.modal__input {
  padding: 16px 12px;
  font-size: 20px;
  cursor: pointer;
}
.modal__close-icon {
  width: 100%;
  gap: 421px;
  background-color: #fff;
}
.modal__close-icon:hover{
  background-image: url("../images/Close-dark-icon.svg");
}

.modal__close_type_preview {
  position: absolute;
  background-image: url(../images/Close-light-icon.png);
  top: 10px;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: none;
  z-index: 1;
  opacity: 100%;
}
.modal__close_type_preview:hover{
  opacity: 40%;
}

.modal__caption{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-width: 214px;
  height: 32px;
  text-align: center;
  padding: 4px 8px;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  left: 370px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  top: 750px;
}

.modal__image {
  position: relative;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px; }
.modal__content {
  max-width: 730px;
  width:100%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding:36px 50px 32px;
}
.modal__content_type_preview {
  padding: 0;
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vw;
  background-color: rgba(0, 0, 0, 0.0);
  visibility: 0.3s;
  opacity: 0.3s ease-in;
  display: flex;
  align-content: center;
  justify-content: center;
}
@media screen and (max-width: 627px) {
  .modal {
    padding: 0 16px;
    margin:0;}

  .modal__container {
    padding: 12px;
    margin: 207px, 355px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__title {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .modal__submit-btn {
    min-width: 272px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__close_type_preview{
    margin: 0 10px;
    left: 264px;
  }
  .modal__image {
    Width: 288px;
    Height: 426.57px;
    Top: 51px;
    Left: 16px;
    border-radius: 4px;
  }
  .modal__caption {
    max-height: 27px;
    top: 480px;
    left: 16px;
  }
  .modal__content_type_preview{
    margin-top: 45px;
    width: 604px;
    height: 320px;
  }
}
