.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}
.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  margin: 134px, 10px;
  max-width: 730px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
}
.modal__close-btn {
  background: transparent center no-repeat;
  background-size: 35px 35px;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}
.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}
.modal__form{
  margin-top: 32px;
}
.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  margin-bottom: 32px;
}
.modal__submit-btn {
  padding: 18px 0;
  width: 100%;
  max-width: 156px;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
.modal__submit-btn_disabled{
  background-color: #212121;
  opacity: 0.3;
  cursor: not-allowed;
}
.modal__input {
  padding: 16px 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1;
  color: #212121;;
  cursor: pointer;
  border: 1px solid #21212166;
  border-radius: 8px;
  margin: 8px 0 0;
}
.modal__input:hover{
  border: 1px solid #212121;
}

.modal__close-icon {
  width: 100%;
  gap: 421px;
  background-color: #fff;
}
.modal__close-icon:hover{
  background-image: url("../images/Close-dark-icon.svg");
}
.modal__input_type_error{
  border: 1px solid rgba(255, 0, 0, 0.6);
}
.modal__error{
  font-size: 16px;
  color: red;
  font-weight: 500;
  font-family: poppins, sans-serif;
  margin: 0;
  display: block;
  visibility:collapse;
  line-height:110.00000000000001%;
}
.modal__close-btn_type_preview {
  position: absolute;
  background-image: url("../images/Close-light-icon.svg");
  top: 10px;
  right: -50px;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: none;
  z-index: 1;
  opacity: 100%;
}
.modal__close-btn_type_preview:hover{
  opacity: 40%;
}

.modal__caption{
  display: flex;
  margin: 0;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color:#fff;
  position: absolute;
  background-color: #212121;
  border-radius: 8px;
  left:0;
  top: calc(100% + 10px);
}

.modal__image {
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  overflow: hidden;
}
.modal__content {
  padding: 0;
  position: relative;
}
.modal__content_type_preview {
  padding: 16px;
}
@media screen and (max-width: 480px) {
  .modal__container {
   padding: 22px 12px 12px;
  }
  .modal__input {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__submit-btn {
    max-width: none;
  }
  .modal__close-btn {
    top: 22px;
    right: 12px;
  }
  .modal__image {
    max-height: none;
    max-width: none;
    width: 100%;
  }
  .modal__close-btn_type_preview {
    top: -30px;
    right: 0;
  }
  .modal__caption {
    font-size: 16px;
    line-height: 19px;
    }
}
