.page {
  max-width: 1440px;
  background-color: #fcf5e5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
.page__section {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}
.page__content {
  min-height: 100vh;
  max-width: 1440px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 627px) {
  .page {
    max-width: 320px;
  }
  .page__section {
    max-width: 288px;
    gap: 32px;
  }
  .page__content {
    max-width: 320px;
  }
}
